@media (max-width: 768px) {
  .charger {
    width: 26%;
  }
  .star3 {
    margin-top: 15%;
    margin-right: -40%;
  }
  .card-container {
    grid-template-columns: repeat(4, 1fr);
    aspect-ratio: 4 / 4;
    gap: 5px;
    margin-top: 5%;
  }
  .game-container {
    height: 145vw;
  }
  .card {
    aspect-ratio: 3 / 4.5;
  }
  .cards_game {
    height: 145vw;
  }
  .timer {
    font-size: 5vw;
  }
  .menu-item button {
    height: 15%;
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 3 / 6;
    gap: 5px;
    margin-top: 8%;
  }

  .card {
    aspect-ratio: 3 / 4;
  }
  .star3 {
    margin-top: 25%;
    margin-right: -40%;
  }
  .cards_game {
    height: 200vw;
  }
  .timer {
    font-size: 7vw;
  }
}

@media (max-width: 720px) {
  #board {
    margin-top: 0%;
    max-width: 88vw;
    z-index: 2;
    padding: 1.5vw;
    gap: 1.5vw;
  }
  .cube_game {
    justify-content: center;
    height: 216vw;
    overflow: hidden;
  }
  .tile {
    font-size: 12vw;
  }
  .reset-rectangle {
    position: absolute;
    width: 150vw;
    height: 170vw;
    background-color: #f4c7c7;
    z-index: 1;
  }
  .score-container {
    font-family: "Bryndan_Write";
    font-size: 7vw;
    margin-top: 9%;
    width: 35vw;
    height: 10vw;
    border-radius: 2vw;
  }
  .yellow_textile {
    transform: rotate(-10deg);
    position: absolute;
    width: 60%;
    top: 4%;
    margin-left: 81%;
  }
  .lightly_pink_textile {
    position: absolute;
    width: 65%;
    margin-top: 147%;
    left: -20%;
  }
  .scissors2 {
    width: 50%;
    position: absolute;
    margin-top: 155%;
    left: -10%;
  }
  .pallette {
    width: 50%;
    position: absolute;
    top: 0%;
    transform: rotate(-0deg);
    left: 0%;
  }
  .pinl_textile {
    width: 75%;
    margin-top: 60%;
    position: absolute;
    left: 50%;
    z-index: 0;
  }
}
@media (max-width: 1520px) {
  .ps_game {
    height: 70vw;
  }
  .background-ps {
    width: 120vw;
  }
}

@media (max-width: 1920px) {
  .ps_game {
    margin-top: -5%;
  }
  .background-ps {
    width: 120vw;
  }
}
@media (max-width: 1440px) {
  .ps_game {
    height: 70vw;
  }
  .background-ps {
    margin-top: 5%;
  }
}

@media (max-width: 1366px) {
  .ps_game {
    height: 70vw;
    margin-top: -8%;
  }
  .headphones {
    width: 22%;
    margin-top: 5%;
    margin-left: 3%;
  }
  .note1,
  .note2,
  .note3 {
    margin-top: 5%;
  }
}
@media (max-width: 1280px) {
  .ps_game {
    margin-top: -3%;
    height: 73.5vw;
  }
  .background-ps {
    width: 150vw;
  }
  .charger {
    width: 26%;
  }
}

@media (max-width: 1024px) {
  .ps_game {
    margin-top: -5%;
    height: 102vw;
  }
  .arrow1_ps,
  .arrow2_ps,
  .arrow3_ps,
  .arrow4_ps {
    margin-top: 1%;
  }
  .letters {
    top: 32%;
  }
  .charger {
    width: 35%;
  }
  .headphones {
    width: 30%;
    margin-left: 2%;
  }
}

@media (max-width: 865px) {
  .arrow1_ps,
  .arrow2_ps,
  .arrow3_ps,
  .arrow4_ps {
    margin-top: 4%;
  }
  .letters {
    margin-top: 4%;
  }
  .arrow4_ps {
    margin-top: 3%;
  }
  .help__button_ps,
  .color_button_ps {
    margin-top: -4%;
  }
  .arrow2_ps {
    margin-top: 5%;
  }
  .ps4 {
    top: 31.2%;
  }
  .ps_game {
    height: 103vw;
  }
  .background-ps {
    width: 180vw;
  }
  .charger {
    width: 30%;
    margin-top: 3%;
  }
  .headphones {
    width: 26%;
    margin-left: -2%;
    margin-top: 11%;
  }
  #game-container {
    width: 62%;
  }
  .drawing_game {
  }
}
